<template>
  <div id="app" class="hello">

      <h1>Welcome to the Serverless Voting App</h1>
      <h4>Click to vote on this very important issue.</h4>
      <h4>You can vote as many times as you like. Click away!</h4>

    <b-row align-h="center" class="mt-5">
      <b-card-group deck>
        <b-card bg-variant="success" text-variant="white" header="Vote Yes" class="text-center" footer-tag="footer">
          <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
          <b-button size="lg" variant="primary"  @click="vote(1)">Button</b-button>
          <em slot="footer">{{ votesYes }} voted</em>
        </b-card>

        <b-card bg-variant="danger" text-variant="white" header="Vote No" class="text-center" footer-tag="footer">
          <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
          <b-button size="lg" variant="primary" @click="vote(2)">Button</b-button>
          <em slot="footer">{{ votesNo }} voted</em>
        </b-card>
      </b-card-group>
    </b-row>
    <b-row align-h="center" class="mt-5">
      <p>Questions? Ask James <a href="https://twitter.com/jbesw">@jbesw</a>.</p>
    </b-row>
  </div>  
</template>

<script>
import axios from 'axios'
export default {
  name: 'app',
  data() {
    return {
      API: 'https://j1xst3l8pd.execute-api.us-east-1.amazonaws.com/dev/',
      votesYes: 0,
      votesNo: 0
    }
  },
  methods: {
    vote: async function (decision) {
      const path = (decision === 1) ? 'voteyes' : 'voteno'
      const response = await axios({ method: 'GET', url: `${this.API}${path}` })

      if (decision === 1) this.votesYes = response.data.Attributes.votesYes
      if (decision === 2) this.votesNo = response.data.Attributes.votesNo
    },
    updateVotes: async function () {
      let that = this
      setInterval(async function(){ 
        const response = await axios({ method: 'GET', url: `${that.API}votes` })
        that.votesNo = response.data.Item.votesNo
        that.votesYes = response.data.Item.votesYes
      }, 3000)
    }
  },
  created() {
    this.updateVotes()
  }

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
